@font-face {
  font-family: "Super Bubble";
  src: url("/fonts/SuperBubble-Rpaj3.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("/fonts/MontserratMedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("/fonts/MontserratBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
